.app{
  @apply h-screen w-screen bg-tan;
  @apply flex flex-col content-between;

  input {
    @apply bg-gray text-black w-80 h-10 mt-5;
  }

  header{
    flex-basis: 10%;
  }

  .books{
    /* Base Grid */
    @apply grid place-items-center grid-cols-1;
    /* Responsive Grids */
    @apply sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5;
    overflow-x: hidden;
    overflow-y: auto;
    flex-basis: 100%;
  }
  
}