@use '../utils/scrollbar';

@include scrollbar.scrollbar(book-card, rgba(207, 219, 213, 1));

.book-card{
  // Sizing //
  @apply h-72 w-60 rounded-md ;

  // Spacing //
  @apply m-2 p-8 flex flex-col mx-auto text-center;

  // Colors //
  @apply bg-morning-blue text-eerie-black shadow-2xl;

  @apply transform transition-transform cursor-pointer;
  @apply hover:scale-110;

  overflow-y: auto;

  h2{
    flex-basis: 10%;
    @apply text-2xl  underline;
  }

  h3{
    flex-basis: 10%;
    @apply text-xl italic;
  }

  p{
    flex-basis: 100%;
    @apply pt-7
  }

  button{
    flex-basis: 10%;
    @apply transition-colors w-40 mt-4 rounded-sm bg-light-salmon text-eerie-black mx-auto;
    @apply hover:bg-red-orange;
  }
}
